 @import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

$red: #E83938;
$blue: #37A1E1;
$black: #1d1d1d;
$white: #E2EAEA;

$border: 1px solid $white;

body {
	width: 100vw;
	height: 100vh;
	background: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Catamaran', sans-serif;
	color: $white;
}

.choice 	{
	width: 300px;
	background-color: $white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	font-weight: 800;
	font-size: 24px;
	color: $black;
	cursor: pointer;
}

.xs { border-bottom: 2px solid $white; }
.os { border-bottom: 2px solid $white; }

.xs:hover { border-bottom: 2px solid $blue; }
.os:hover { border-bottom: 2px solid $red; }

.game-container {
	text-align: center;
	display: none;
}

.text {
	padding-bottom: 30px;
	text-transform: uppercase;
	font-size: 18px;
}

.bold {
	font-weight: 800;
}

.container {
	width: 303px;
	height: 303px;
	//display: flex;
	flex-wrap: wrap;
	font-size: 36px;
	display: none;
}

.grid {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.x {
	color: $blue;
}

.o {
	color: $red;
}

#s-1 { border-bottom: $border; border-right: $border; }
#s-2 { border-bottom: $border; }
#s-3 { border-bottom: $border; border-left: $border; }
#s-4 { border-right: $border; }
#s-5 { border-right: $border; }
#s-6 {  }
#s-7 { border-right: $border; border-top: $border; }
#s-8 { border-top: $border; }
#s-9 { border-left: $border; border-top: $border; }